header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#jw {
    font-size: 200%;
    font-weight: bolder;
    color: white;
    background-color: darkgreen;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 8px 8px 17px -5px rgba(0,0,0,0.67);
}

nav a {
    text-decoration: none;
    margin: 0 10px;
    font-weight: bolder;
    color: darkgreen;
    display: inline-block;
    transition: all 0.3s ease;
}

nav a:hover{
    color: rgb(4, 30, 4);
    transform: scale(1.2);
}

#julia {
    width: 100%;
    height: 80vh;
    /* background-image: url("../imagenes/fondo.webp"); */
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../imagenes/fondo.webp");

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

h1{
    font-size: 4rem;
}

#avatar {
    padding: 5px;
    background-color: darkgreen;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: -100px auto 0 auto;
    
}
#avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#trabajos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 2%;
}

.tarjeta-trabajo {
    border: solid 1px rgba(129, 118, 118, 0.456);
    border-radius: 2%;
    box-shadow: 8px 8px 17px -5px rgb(0 0 0 / 12%);
}

.tarjeta-trabajo img {
    width: 100%;
}